.hero {
    position: relative;
    height: calc(100vh - 83px);
}
.hero .container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero .text {
    flex-basis: 50%;
}
.hero .text p {
    color: #1F2937;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0.24px;
}
.hero .text p span {
    color: #000000;
    font-weight: 800;
    font-size: 40px;
}
.hero .text p span span {
    color: #3ADAD9 !important;
}
.hero .img {
    width: 420px;
}
.hero .img img {
    width: 100%;
}
.hero .buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
}
.hero .buttons button:nth-of-type(1) {
    padding: 14px 31px;
    border-radius: 15px;
    background-color: #3ADAD9;
    color: white;
    padding-right: 16px;
    cursor: pointer;
    z-index: 9999999999;
}
.hero .buttons button:nth-of-type(2) {
    padding: 14px 20px;
    background-color: white;
    color: #3ADAD9;
    border: solid 2px #3ADAD9;
    border-radius: 15px;
    cursor: pointer;
    z-index: 999999999999;
}
.vectors {
    position: absolute;
    left: 0;
    bottom: 0;
}
.vectors img {
    position: relative;
    width: 100vw;
}
.vectors img:nth-of-type(1) {
    bottom: -300px;
}
.vectors img:nth-of-type(2) {
    bottom: -130px;
}
.vectors img:nth-of-type(3) {
    bottom: 40px;
}
/* Feature*/
section:not(section:nth-of-type(1)) {
    padding: 60px 0;
}
.features .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.features h2 {
    font-size: 30px;
    font-weight: 600;
    color: #565656;
    text-align: center;
    margin-bottom: 2rem;
}
.features h2 span {
    color: #FFCA1D;
}
.features .image img{
    width: 420px;
}
.features .text {
    position: relative;
    flex-basis: 50%;
}
.special {
    color: #4A4A4A;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 0.18px;
    margin-bottom: 30px;
}
.features .special::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: #FFCA1D;
    border-radius: 10px;
    left: 0;
    top: 112px;
}
.special + p {
    color: #575757;
    font-size: 20px;
    font-weight: 400;
}
.features .text p span {
    color: #FFCA1D;
}
/* Feature*/
/* setup */
.setup .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.setup .text {
    position: relative;
    flex-basis: 40%;
}
.setup .special::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: #FFCA1D;
    border-radius: 10px;
    left: 0;
    top: 60px;
}
.setup img {
    width: 600px;
}
/* setup */
/* customers */
.customers h3 {
    font-size: 30px;
    color: #1F2937;
    font-weight: 600;
    margin-bottom: 30px;
}
.customers h3 span {
    color: #FFCA1D;
}
.customers .box {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 93px;
    background: #F9F9F9;
    box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.08);
}
.customers .box img {
    width: 380px;
    margin-right: 20px;
}
.customers .box p:nth-of-type(1) {
    color: #575757; 
    font-size: 17px;
    font-weight: 500;
}
.customers .box h4 {
    color: var(--Text-Black-Color, #000);
    font-size: 21px;
    font-weight: 600;
    margin: 6px 0;
}
.customers .box p:nth-of-type(2) {
    color: #575757; 
    font-size: 17px;
    font-weight: 400;
} 
/* customers */
/* question */
.faq li {
    margin: 40px 0;
    cursor: pointer;
}
.faq .q {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-xl {
    font-weight: 600;
}
.arrow {
    font-weight: 600;
}
/* question */
/* priceplan */
.priceplan > img:nth-of-type(1) {
    position: relative;
    top: -50px;
}
.priceplan > img:nth-of-type(2) {
    position: relative;
    top: -200px;
}
.priceplan .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}
.priceplan .special {
    text-align: center;
    margin-bottom: 0 !important;
}
.special span {
    color: #FFCA1D;
}
.priceplan .special + p {
    text-align: center;
}
.priceplan > p {
    color: #B7B7B7;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin: 16px 0 24px;
}
.priceplan .container {
    width: 1100px;
}
.priceplan .box {
    height: 410px;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10), 0px 10px 8px 0px rgba(0, 0, 0, 0.04);
    transition: .3s;
}
.priceplan .box:hover {
    border: solid 1px #FD9B79;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.priceplan .box:nth-of-type(2) {
    border: solid 1px #FD9B79;
    
}
.priceplan .box p:nth-of-type(1) {
    color: rgba(0, 0, 0, 0.53);
    font-size: 16px;
    font-weight: 500;
}
.priceplan .box p:nth-of-type(2) {
    color: var(--Text-Black-Color, #000);
    font-weight: 500;
    font-size: 18px;
    margin: 4px 0;
}
.priceplan .box p:nth-of-type(2) span{
    font-size: 24px;
    font-weight: 600;
}
.priceplan .box p:nth-of-type(3),
.priceplan .box p:nth-of-type(5),
.priceplan .box p:nth-of-type(6),
.priceplan .box p:nth-of-type(7), 
.priceplan .box p:nth-of-type(8) {
    color: #575757;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
}
.priceplan .box p:nth-of-type(4) {
    margin: 10px 0;
} 
.priceplan .box button {
    margin-top: 20px;
    border: solid 1px #FD9B79;
    width: 100%;
    border-radius: 10px;
    padding: 8px 0;
    transition: .3s;
}
.priceplan .box button:hover {
    background-color: #FD9B79;
    color: white;
}
.priceplan .box:nth-of-type(1) button {
    margin-top: 77px;
}
.priceplan .box:nth-of-type(2) button {
    border-radius: var(--Components-Badge-Close-Icon-Size, 15px);
    border: 1px solid #FD9B79;
    background: #FD9B79;
    color: white;
}
.priceplan img {
    width: 100vw;
}
.priceplan .container:nth-of-type(2) {
    margin-top: 80px;   
}
.priceplan .container:nth-of-type(2) .text h4 {
    color: var(--Gray-1100, #353738);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 4px;
}
.priceplan .container:nth-of-type(2) .text p {
    color: var(--Gray-900, #5E6163);
    font-size: 18px;
    font-weight: 500;
}
.priceplan .container:nth-of-type(2) form {
    flex-basis: 56%;
}
.priceplan .container:nth-of-type(2) form input:nth-of-type(1){
    border: solid 1px rgba(0, 0, 0, 0.35);
    width: calc(100% - 200px);
    margin-right: 20px;
    padding: 6px 10px;
    border-radius: 6px;
    outline: none;
}
.priceplan .container:nth-of-type(2) form input:nth-of-type(2) {
    background-color: #FD9B79;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    padding: 8px 20px;
    cursor: pointer;
}
/* priceplan */
/* footer */
footer {
    padding: 40px 0;
}
hr {
    margin-bottom: 40px !important;
}
footer .container .boxes {
    display: flex;
    justify-content: space-between;
}
footer .container .boxes > div:nth-of-type(1)  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
footer .container .boxes .box h3 {
    color: #353738;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 16px;
}
footer .container .boxes .box ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 80px;
}
footer .container .boxes .box ul:nth-of-type(4) {
    float: right;
}
footer .container .boxes .box ul li {
    color: #353738;
    font-size: 14px;
}
footer .container .boxes > div:nth-of-type(2) .box ul {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
}
footer .container .boxes > div:nth-of-type(2) .box ul li {
    padding-right: 10px;
}
footer .container .boxes > div:nth-of-type(2) .box ul li a {
    font-size: 17px;
}
/* footer */
/* convertion */
.conversation {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.conversation .teams {   
    border-radius: 12px;
    background: #FFF;
    width: 340px;
    display: flex;
    flex-direction: column;
}
.conversation .teams > div {
    padding: 16px 20px;
}
.conversation .teams .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.conversation .teams div > .text h3 {
    font-size: 20px;
    font-weight: 500;
}
.conversation .teams > .text span {
    font-size: 18px;
    color: #A6A8B1;
}
.conversation .teams form {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid var(--Black-1, #CFD3D4);
    padding: 8px 12px;
}
.conversation .teams form svg {
    font-size: 18px;
}
.conversation .teams form input {
    border-radius: 8px;
    width: 100%;
    padding-left: 10px;
    outline: none;
}
.conversation .teams ul {
    height: calc(100vh - 200px);
    overflow-y: scroll;
}
.conversation .teams ul li {
    cursor: pointer;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
}
.conversation .teams ul li .image {
    position: relative;
}
.conversation .teams ul li .image::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 13px;
    height: 13px;
    border: solid 2px white;
    border-radius: 50%;
    background-color: #5570F1;
}
.conversation .teams ul li:nth-of-type(1) {
    border: none;
    background-color: #F7F7FC;
    border-right: solid 4px #5570F1;
}
.conversation .teams ul li .text {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.conversation .teams ul li .text div {
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conversation .teams ul li .text div:nth-of-type(2) {
    text-align: center;
}
.conversation .teams ul li .text h5 {
    font-size: 14px;
    font-weight: 500;
}
.conversation .teams ul li .text p {
    font-size: 12px;
}
.conversation .teams ul li .text span {
    font-size: 12px;
}
.conversation .teams ul li .text div:nth-of-type(2) span:nth-of-type(1) {
    border-radius: 10px;
    background: #e5e7eb99;
}
.conversation .chat {
    flex-basis: 70%;
    border-radius: 12px;
    background: #FFF;
}
.conversation .chat .header {
    padding: 10px 20px;
    position: relative;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    display: flex;
}
.conversation .chat .header p {
    padding-left: 10px;
    font-weight: 500;
}
.conversation .chat .header div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6px;
}
.conversation .chat .header div span:nth-of-type(1) {
    color: #5570F1;
    font-size: 14px;
}
.conversation .chat .header div span:nth-of-type(2) {
    color: #8B8D97;
    font-size: 14px;
}
.conversation .chat .main {
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
}
.conversation .chat .main p {
    color: white;
    padding: 8px 20px;
}
.conversation .chat .main span {
    margin: 4px 0 6px;
    font-size: 14px;
    color: #8B8D97;
}
.conversation .chat .main p:nth-of-type(1),
.conversation .chat .main p:nth-of-type(5)  {
    background-color: #e5e7eb99;
    align-self: center;
    padding: 4px 14px;
    border-radius: 12px;
    color: black !important;
    margin-bottom: 8px;
}
.conversation .chat .main p:nth-of-type(2) {
    align-self: self-start;
    border-radius: 16px 16px 16px var(--Basic-Forms-Input-Underline-Border-Radius, 0px);
    background: #FD9B79;
}
.conversation .chat .main p:nth-of-type(3), 
.conversation .chat .main p:nth-of-type(4) {
    align-self: self-end;
    border-radius: 16px 16px var(--Basic-Forms-Input-Underline-Border-Radius, 0px) 16px;
    background: var(--Secondary-50, #ffc885);
} 
.conversation .chat .main p:nth-of-type(6) { 
    align-self: self-start;
    border-radius: 16px 16px 16px var(--Basic-Forms-Input-Underline-Border-Radius, 0px);
    background: #FED369;
} 
.conversation .chat .main ul {
    display: flex;
    justify-content: end;
    margin-bottom: 12px;
    gap: 10px;
}
.conversation .chat .main ul li {
    background-color: #e5e7eb99;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
}
.conversation .chat .main form {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    padding: 6px 12px;
}
.conversation .chat form > svg:nth-of-type(1) {
    font-size: 20px;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
}
.conversation .chat form > input:nth-of-type(1) {
    width: 80%;
    outline: none;
}
.conversation .chat .main form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(216, 181, 181, 0.5);
    width: 100px;
    border-radius: 6px;
    padding: 4px 10px;
    cursor: pointer;
}
.conversation .chat form div > input:nth-of-type(1) {
    cursor: pointer;
}
.conversation .chat .main svg:nth-of-type(2) {
    margin: 0 6px;
    font-size: 18px;
    cursor: pointer;
}
.conversation .chat form div > svg:nth-of-type(1) {
    font-size: 18px;
}
/* convertion */